body{
    background-color: white;
    color: black;
}
.ikarus{
    font-family: magneto;
}
table{
    margin: auto;
    border: 1px solid black;
}
tr, th, td{
    text-align: center;
    border: 1px solid black;
}
